.settings-window {
  position: fixed;
  right: 100px; /* Dopasuj do potrzeb */
  top: 20px;
  width: 300px; /* Szerokość okna */
  background-color: rgba(0, 0, 0, 0.6); /* Przezroczyste czarne tło */
  border: 1px solid #ccc; /* Delikatna ramka */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień */
  z-index: 1000; /* Wyższy priorytet nad innymi elementami */
  padding: 10px; /* Wewnętrzne odstępy */
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: all 0.3s ease; /* Animacja przy otwieraniu/zamykaniu */
  color: white;
  cursor: move;
}

.settings-window h2 {
  margin: 10px 0; /* Odstępy dla nagłówków */
  font-size: 18px; /* Rozmiar czcionki nagłówków */
  color: #fff; /* Kolor nagłówków na biało */
}

.settings-window button {
  background-color: #ff4d4d; /* Czerwony przycisk */
  color: white; /* Kolor tekstu */
  border: none; /* Bez ramki */
  margin: 5px; /* Odstępy między przyciskami */
  padding: 8px 12px; /* Wewnętrzne odstępy */
  border-radius: 5px; /* Zaokrąglone rogi */
  cursor: pointer; /* Kursor jako wskaźnik */
  transition: background-color 0.3s ease; /* Animacja zmiany koloru */
}

.settings-window button:hover {
  background-color: #ff1a1a; /* Czerwony kolor przy najechaniu */
}

.settings-window button.active {
  background-color: rgb(55, 156, 77);
}
